.topheader {
    background-color: #1F2421;
  }

.navbar {
  background-color: #1F2421;
}

.navbar-item {
  color: #fff;
}

.results--section {
  padding: 20px 0px;
  margin-top: 40px;
}

h1 {
  text-align: center;
  font-size: 30px;
}